@{
	ViewBag.Title = "Home";
}

<h1>Razor View Demo</h1>

<p>This page is rendered from a .cshtml file, running on a server written in ASPEX framework.</p>

<p>
	<a href="https://github.com/ronnygunawan/aspex" class="btn btn-primary">Learn more</a>
</p>